/**
* THIS STYLESHEET IS USED FOR THE SUB-PAGES & TOPIC PAGES (LIKE DOCUMENTATION ITEM PAGES AND NEWS PAGES)
*/

/* GEN. PAGE ELEMENTS */
h1,h2,h3,h4,h5 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-weight:400;
    font-size:16px;
}


/* FIRST SECTION - NAV/NEWS BAR */

.nav-news-bar {
    padding:1.5em 0;
    line-height:1;
    border-top:     5px solid #ee3327;
    border-bottom:  5px solid #ee3327;
    text-transform: uppercase;
    font-family:"Montserrat",sans-serif;
}


/* MAIN DOCUMENT CONTENT*/
.doc-content {
    padding:0;
    height:100%;

}

.doc-left-main-col,
.doc-right-main-col {
    min-height:500px;
    padding:2em 30px 3em 30px;
    height:auto;
}

.doc-left-main-col {
     background:#d4d3d9;
     box-shadow:        inset -20px 0 20px #c1c0c6;
     -moz-box-shadow:   inset -20px 0 20px #c1c0c6;
}

.doc-left-main-col div.row {
   padding:.3em 1em;
}

/* LEFT COLUMN CONTENT */

/* Search Bar */
.doc-left-main-col div.doc_search-bar-row  {
    text-align: center;
    padding-top:2em;
    margin-top:2em;
}

input[type="text"].doc_search,
 input[type="submit"].doc_search_submit {
    /* Reset */
    border:none;
    margin:0;
    line-height: 21px;
    display:inline-block;
    font-size:16px;
    outline:none;
    /* Shadows */
    box-shadow:0 0 3px #5f5f5f;
    -moz-box-shadow:0 0 3px #5f5f5f;
}


input[type="submit"].doc_search_submit {
    padding:10px 20px 13px 20px;
    line-height: 1em;
    /* Button Image */
    background-image: url(../images/magnifying-glass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

input[type="text"].doc_search {
    width:80%;
    color:#666666;
    padding:8px 15px;
}

/* ** Firefox Search Bar Adjustments ** */
@-moz-document url-prefix() {

    input[type="submit"].doc_search_submit {
        padding:10px 20px 11px 20px;
    }

    input[type="text"].doc_search {
        font-size:15px;
        width:80%;
        color:#666666;
        padding:8px 15px 8px 15px;
    }
}


/* Rounding */
input[type="text"].doc_search {
    border-top-left-radius:             6px;
    border-bottom-left-radius:          6px;
    -moz-border-radius-topleft:         6px;
    -moz-border-radius-bottomleft:      6px;
    -webkit-border-bottom-left-radius:  6px;
    -webkit-border-top-left-radius:     6px;

}

input[type="submit"].doc_search_submit {
    border-top-right-radius:             10px;
    border-bottom-right-radius:          10px;
    -moz-border-radius-topright:         10px;
    -moz-border-radius-bottomright:      10px;
    -webkit-border-bottom-right-radius:  10px;
    -webkit-border-top-right-radius:     10px;
}

.author-div h2,
.table-of-contents h2,
.related-documents h2 {
    margin:2em 0 1.5em  0;
    letter-spacing:1px;
    font-weight:bold;
}


/* Authors & Other Bulletpoint <li> tags */
ul.author-ul,
.table-of-contents ul,
.related-documents ul {
    margin:0;
    padding:0;
    list-style: none;
}

ul.author-ul li  {
    list-style-type:none;
    clear:both;
    padding:1em 0;
    margin:0;
}

ul.author-ul li img {
    float:left;
    width:45px;
    height:45px;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right:.5em;
}

ul.author-ul li span.author-line {
    font-size:12px;
    font-style: italic;
    font-weight: 200;
    display:block;
    padding-top:1em;
}



/* RIGHT COLUMN CONTENT */
.doc-right-main-col {
    padding-top:3em;
}


.doc-right-main-col h1 {
    font-size:40px;
    padding-bottom:.8em;
}


.doc-right-main-col h3 {
    text-align: center;
    font-family: "Montserrat",sans-serif;
    padding:1em 0;
    clear:both;
    font-size:18px;
}

.doc-right-main-col ol {
    margin-left:-1.5em;
}

.doc-right-main-col ol li {
    margin:1em 0;
}


/* Tags related to displaying code samples */

/* Red text that pertains to terminal commands/examples */

blockquote {
    margin:1em 0;
    padding:1em 0em;
    text-align:left;
    background-color: #e9e8ec;
    border:none;

}

blockquote code {
    text-align:left;
    display:block;
    border:none;
    background:none;
    color:#222243;
    padding:.5em 1em;
    font-size:13px;
}


/* Smaller device width author and social media display */
.bottom-author-section {
    border-top:4px solid #ee3327;
    border-bottom:4px solid #ee3327;
    min-height: 100px;
}

.bottom-author-section div.row {
    text-align: center;
    padding:.3em 2em;
}

.bottom-author-section h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "open sans",sans-serif;
    font-weight:bold;
    font-size: 16px;
}


.author-bottom-image-box-images {
    padding:1em 0;
    position: relative;
    text-align: center;
}

.author-bottom-image-box-images img {
    display: inline-block;
    width:45px;
    height:45px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

p.author-names-bottom {
    font-size:12px;
    font-weight:200;
    font-style: italic;
}



/*===============================================================================
 NEWS PAGE TEMPLATE TAGS
===============================================================================*/
.news-page-article-col {
    padding-top:1.9em;
}

.news-headline {
    padding-top:0;
    margin-top:0;
}

.doc-right-main-col.news-page-article-col h3 {
    text-align: left;
}

.news-article-img {
    padding:0;
}
.news-article-img img {
    width:100%;
    height:auto;
    border-radius:2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
}

.doc-right-main-col h3.article-date {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color:#999999;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.article-author-div {
    border-top:4px solid #ee3327;
    border-bottom:4px solid #ee3327;
    margin:1em auto;
    padding:1em 0;
}

.author-img {
    text-align: center;
}

.author-img img {
    width:100%;
    height:auto;
    margin:0 auto;
    border-radius:          50%;
    -moz-border-radius:     50%;
    -webkit-border-radius:  50%;
}

.author-name-title,
.author-name-title h1,
.author-name-title p {
    text-align: center;
}

.author-name-title {
    padding-top:1em;
}

.author-name-title h1 {
    text-transform: uppercase;
    font-size:1em;
    letter-spacing: 1px;
    font-weight: bold;
    padding:0;
    margin:0;
}

.author-name-title p {
    font-size:.8em;
    font-style: italic;
    font-weight: 200;
    padding:0;
}

.news-social-icons {
    padding-top:.8em;
}

.news-share {
    text-transform: uppercase;
    font-size:1em;
    padding-top:1.8em;
}
.news-social-icons {
    text-align: center;
}

/* Most of the social icons here inherit their properties from the main forge.css at around line 1080 */
.news-social-icons a {
    display:inline-block;
    width:40px;
    height:40px;
}



div.doc-content-social-media {
    clear:both;
    padding:.5em;
    text-align: center;
}

div.doc-content-social-media a {
    display: inline-block;
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    background-position: 0 top;
    background-size: cover;
    box-sizing: content-box;
    outline:none;
}

div.doc-content-social-media a:hover,
div.doc-content-social-media a:active,
div.doc-content-social-media a:visited {
    outline:none;
}


div.doc-content-social-media a.facebook-link {
    background-image:url(../images/facebook_color_60x60.png);
}
div.doc-content-social-media a.twitter-link {
    background-image:url(../images/twitter_color_60x60.png);
}

div.doc-content-social-media a.linkedin-link {
    background-image:url(../images/linkedin_color_60x60.png);
}

div.doc-content-social-media a.googleplus-link {
    background-image:url(../images/google_color_60x60.png);
}

div.doc-content-social-media a.youtube-link {
    background-image:url(../images/youtube_color_60x60.png);
}

/*===============================================================================
 SCREEN SIZE/MEDIA CHANGE BREAKPOINTS
===============================================================================*/

/* Large LG */
@media (min-width: 1200px) {

}

/* Medium MD */
@media(min-width:992px) and (max-width:1199px) {

}

/* Small SM */
@media(min-width:768px) and (max-width:991px) {
    input[type="text"].doc_search,
    input[type="submit"].doc_search_submit {
        /* Reset */
        border:none;
        margin:0;
        line-height: 18px;
        display:inline-block;
        font-size:12px;
    }

    input[type="text"].doc_search {
        width:70%;
        box-shadow:none;
        -moz-box-shadow: none;
    }

    input[type="submit"].doc_search_submit {
        padding:8px;
    }


    /* News Section */

}


/* Max. Size SM (767px and under) */
@media(max-width:767px) {
    .search-bar-row input.addon_search[type="text"],
    .search-bar-row input.addon_search_submit[type="submit"] {
        font-size:14px;
    }

    .search-bar-row input.addon_search[type="text"] {
        box-shadow:      none;
        -moz-box-shadow: none;
    }

    .nav-news-bar {
        border-top: none;
    }


    .phone-width h1 {
        text-transform: none;
        text-align: center;
        padding:0 2em;
        font-size:24px;
    }

    .doc-left-main-col {
        padding-top:0;
    }



    div.row.language-select-bar {
        background-color: #ee3327;
        padding:.5em 1em 1em 1em;
        line-height:1.5em;
        text-align: center;
        color:white;
    }


    div.doc-right-main-col {
        padding-left:0;
        padding-right:0;
    }

    /* Anything contained in the right col must have its padding adjusted so as not to run up against the edge of the device window */

    div.doc-right-main-col h1,
    div.doc-right-main-col h2,
    div.doc-right-main-col h3,
    div.doc-right-main-col p,
    div.doc-right-main-col ul,
    div.doc-right-main-col ol,
    div.doc-right-main-col blockquote code {
        padding:.5em 2em;
    }
}


/* This is typically the smallest size (XS) but not currently in use for Forge */
@media(min-width:480px) and (max-width:768px) {
}

@media(max-width:480px) {



    .search-bar-row input.addon_search[type="text"],
    .search-bar-row input.addon_search_submit[type="submit"] {
        font-size:11px;
        padding:5px;
    }




}