/* ------------------ Red Hat Tab & "A JBoss project box - Necessary for every JBoss projectregardless of hosting location ------------------------- */
.dropup {
	/* --- This is the standard RH tab that overlaps what's below it (project banner or navigation bar) --- */
	/* display: none;  HIDE IT UNTIL WORKING */
	height: 37px;
	background-image:
		url("http://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
	background-repeat: no-repeat;
	background-position: right top;
	width: 250px;
	background-color: transparent;
	position: absolute;
	right: 40px;
	margin-bottom: -40px;
	z-index: 999;
	text-align: center;
	margin-top: -1px !important;
}

/* (I renamed all tabzilla to tabnav here...) */
#tabnav-panel.tabnav-opened {
	height: 240px;
	border-bottom: 1px solid@grayLight;
}

#tabnav-panel {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	height: 0;
	line-height: 1.3;
	overflow: hidden;
	position: relative;
}

#tabnav-contents {
	bottom: 0;
	left: 50%;
	right: 0;
	text-align: left;
}

* html #tabnav-contents {
	zoom: 1;
} /* IE6 */
*:first-child+html #tabnav-contents {
	zoom: 1;
} /* IE7 */
#tabnav-contents:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

#tabnav-promo .snippet h4,#tabnav-panel #tabnav-nav,#tabnav-panel #tabnav-nav h2
	{
	color: #484848;
	font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#tabnav-panel #tabnav-nav ul {
	margin: 0;
	padding: 0;
}

#tabnav-panel #tabnav-nav h2 {
	font-size: 13px;
	font-weight: 600;
	margin: 0 20px 0.4em;
	white-space: nowrap;
}

#tabnav-panel #tabnav-nav ul li ul li {
	border-right: 0 none;
	float: none;
	height: auto;
	margin: 0;
}

#tabnav-panel #tabnav-nav a {
	color: #484848;
	display: block;
	outline: 0 none;
	padding: 0.1em 8px 0.2em 20px;
}

#tabnav ul li#tabnav-search {
	border-right: 0 none;
}

#tabnav #tabnav-search ul li {
	background: none repeat scroll 0 0 transparent;
	border-right: 1px dotted #D6D6D6;
	display: inline;
	float: left;
	height: 95px;
	line-height: 1.1;
	list-style-type: none;
	margin: 20px 0 0;
	padding: 0;
	width: 16.5%;
}

#tabnav ul li#tabnav-search a {
	padding-top: 0;
}

#tabnav ul li#tabnav-search form {
	margin: 0.4em 10px;
}

#tabnav ul li#tabnav-search input:-moz-placeholder {
	color: #173444;
}
/* --- The "A JBoss Project box --- */
#ajbossproject {
	margin-top: 8px;
	width: 130px;
	height: 20px;
	background-color: rgba(red(@ grayDarker), green(@ grayDarker),
		blue(@ grayDarker), 0.75);
	filter: alpha(opacity = 75); /* For IE8 and earlier */
	color: @grayLighter;
	-moz-border-radius: 2px; /* firefox */
	-webkit-border-radius: 2px; /* safari/chrome */
	border-radius: 2px; /* CSS3, works in IE9 */
}

/* =Dropup Tab */
#tab.tabnav-opened:after {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#tab:after {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	order-radius: 8px;
	background:
		url("http://static.jboss.org/common/images/arrow-tabnav-down.png")
		repeat scroll 0 0 transparent;
	content: "x";
	height: 15px;
	position: absolute;
	right: 12px;
	top: 9px;
	width: 13px;
}

#tab.tabnav-opened,.darkbg #tab.tabnav-opened {
	background-position: 0 -47px;
}

#tab {
	display: block;
	float: right;
	height: 40px;
	overflow: hidden;
	position: absolute;
	text-indent: -2000px;
	width: 100px;
	z-index: 999;
	top: 0px;
	right: 4px;
}