/**
* THESE STYLES ARE USED FOR THE ADDONS PAGE
*/

/* FIRST SECTION - ADDON MARQUEE */
.addon-marquee {
    background:url(../images/forge_anvil_1020x592.jpg) no-repeat;
    background-size: cover;
    min-height: 350px;
    position: relative;
    padding:0;
    border-bottom:  5px solid #ee3327;
}

.addon-marquee .marquee-content {
    z-index: 1000;
    padding:3em 0;

}

.addon-marquee .marquee-content h2 {
    font-family:"Open Sans", sans-serif;
    font-size:38px;
    text-align: center;
    font-weight:200;
    text-transform: none;
}

.addon-marquee .marquee-content h3 {
    font-family: "Open Sans", sans-serif;
    font-size:22px;
    margin:1.5em auto;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
}

.addon-marquee .dark-blue-overlay {
    position: absolute;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background-image:url(../images/dark-blue-overlay-75percent.png);
    background-repeat: repeat;

}


/* Rounding & Shadows */



/* COMPONENT SECTION */
.addon-section {
    background-color:#e9e8ec;
    padding:4em 0 6em 0;
    min-height:300px;
    /*box-shadow:         inset 0px 30px 30px #9d9d9d;
    -moz-box-shadow:    inset 0px 30px 30px #9d9d9d;*/
}


.section-title {
    text-transform: uppercase;
    font-size:24px;
    line-height:28px;
    padding:8px 0 5px 80px;
    margin:0;
    color:#20182c;
    font-family:"Montserrat", sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.section-title.community-contributed {
    background-image:url(../images/community-contrib-heart_100x100.png);
}

.section-title.core-addons {
    background-image: url(../images/core_addons_100x100.png);
}

.section-title.sponsored-addons {
    background-image: url(../images/sponsored_addons_100x100.png);
}

.section-line-divider {
    background-repeat: repeat-x;
    background-position: center;
    padding-top:36px;
}

.section-line-divider.red {
    background-image: url(../images/bg-block-orange.png);
}

.section-line-divider.dark-blue {
    background-image: url(../images/bg-block-darkblue.png);
}

.section-line-divider.grey {
    background-image: url(../images/bg-block-grey.png);
}

.core-addons-divider {
    padding-top:18px;
}

.addon-title-row {
    margin:3em 0 1.5em 0;
}

row.addon-boxes {
    padding-top:1em;
    padding-bottom:1em;
}


.addon-boxes div {
    margin:1em auto;
    text-align: center;
}

.addon-boxes div.click-modal,
div.addon div.click-modal {
    margin:0;
    cursor:pointer;
    padding:.5em 0 1em 0;
    border-radius:          10px;
    -webkit-border-radius:  10px;
    -moz-border-radius:     10px;
    width:100%;
    display:block;
}

.addon-boxes div.click-modal:hover,
div.addon div.click-modal:hover {
    background: #f5f5f5;
}

.addon-boxes div.click-modal:active,
.addon div.click-modal:active {
    background: #fbfbfb;
    box-shadow:         inset 0px 0px 10px #cccccc;
    -moz-box-shadow:    inset 0px 0px 10px #cccccc;

}


.addon-boxes div.addon {
    background:white;
    color:#333;
    padding:10px;
    margin:0;
    min-height:200px;
    border-radius:          15px;
    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;

    box-shadow:      0 0 5px #616161;
    -moz-box-shadow: 0 0 5px #616161;
}


.addon-boxes div.addon,
.addon-boxes div.addon h2,
.addon-boxes div.addon h3
.addon-boxes div.addon p,
div.addon,
div.addon h2,
div.addon h3
div.addon p,
div.addon div {
    font-family:"Open Sans",sans-serif;
    text-align: center;
}



.addon-boxes div.addon,
div.addon {
    font-size:11px;
    line-height:1.1;
}

.addon-boxes div.addon .img-div,
div.addon .img-div {
    background:#f1f1f2;
    width:70px;
    height:70px;
    clear:both;
    padding:1.5em;
    border-radius:50%;
    border:1px solid #dfdfdf;
    margin:0 auto 1em auto;
}

.addon-boxes div.addon .img-div img,
div.addon .img-div img {
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.addon-boxes div.addon h2,
div.addon h2 {
    font-weight:bold;
    font-size:12px;
    margin:0;
    padding:.2em 0;
}

.addon-boxes div.addon h3,
.addon-boxes div.addon p,
div.addon h3,
div.addon p {
    font-weight:100;
    font-style:italic;
}

.addon-boxes div.addon h3,
div.addon h3 {
    font-size:11px;
    padding:.3em 0;
    margin:0;
}

.addon-boxes div.addon p,
div.addon p {
    font-size:12px;
    line-height:1.3em;
    height:auto;
    padding:0;
    margin:1em 0 0 0;
}

/* Stars */
.star-row  {
    text-align: center;
    width:100%;
    clear:both;
    margin-top:.5em;
    margin-right:0;
    margin-left:0;
}

.star-row span.glyphicon.glyphicon-star {
    color:#d0d2d3;
    font-size:20px;
    margin:0 .1em;
}

.star-row span.glyphicon.glyphicon-star.gold {
    color:#ec7e3c;
}


/*===============================================================================
 FLEX DISPLAY FOR ADDONS & CHECKBOX AREA
===============================================================================*/


.flex-display.checkbox-area {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow:row wrap;
}

.flex-display.checkbox-area div.checkbox-flex-item {
    display:inline-flex;
    flex:0 0 33%;
    -webkit-box-flex:0 0 33%;
    -moz-box-flex: 0 0 33%;
    -webkit-flex:0 0 33%;
    width:32%;
    padding-top:.2em;
    padding-bottom:.2em;

}

.flex-addon-display {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow:row wrap;
}

.flex-addon-display  div.addon {
    background:white;
    color:#333;
    padding:10px;
    margin:1.5% 1%;
    border-radius:          15px;
    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;

    box-shadow:      0 0 5px #616161;
    -moz-box-shadow: 0 0 5px #616161;
    /* Largest width */
    width:22%;
}


@-moz-document url-prefix() {
    .flex-addon-display  div.addon {
       margin:10px;
    }
}



/* SPECIAL CSS FOR THE ADDON SUB-PAGE **/

/** This is the special sub-page designed for phone viewing, but its tags will display content at all screen sizes without issue,
in case the page is viewed on something larger than a phone-width screen. */

body {
    background: rgb(158,155,170);
}

.phone-addon-title-section {
    padding-top:2em;
}

.phone-addon-title-section h1 {
    text-align: center;
    font-weight: bold;
}

.phone-addon-icon-link-section {
    padding-top:1.5em;
    padding-bottom:1.5em;
    background: #9e9baa;
    /* Grad: 888592 */
}

.get-addon-icon {
    text-align: center;
}


.phone-get-addon-btn-div {
    width:40%;
    margin:2.5em auto 1em auto;
}


/* Collapsible Accordian Group */
.addon-panel-group {
    margin-bottom:0;
}


.addon-panel-group .panel-heading {
    background: white;
}

.addon-panel-group .panel-title {
    text-align: center;

    padding-top:.8em;
    padding-bottom:.8em;
}

.addon-panel-group .panel-title a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}


.panel-group .panel-heading + .panel-collapse > .panel-body {
    border:none;
}

.panel {
    border:none;
}

.panel-body {
    font-family:"Open Sans",sans-serif;
    font-weight:lighter;
    font-size:1em;
    font-style: italic;
    padding-bottom:2em;
    padding-top:3em;
    text-align: center;
}

.panel-body.author-section {
    padding-top:0;
}
.panel-body h2 {
    font-style:normal;
    font-weight:normal;
    text-align: center;
    font-size:1.4em;
    letter-spacing:1px;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:1em;
}

.panel-body.author-section {
    text-align: center;
}

.panel-body .disclaimer {
    font-size:.8em;
    font-style:normal;
    font-weight:bold;
}


.panel-author-row {
    text-align: center;
}

.panel-author-row .panel-author-display p {
    font-size:12px;
    padding:0;
    margin:.3em 0;
    line-height:1em;
}

.panel-author-display p.plugin-count {
    text-transform: uppercase;
}

.panel-author-display p:first-child {

}

.panel-author-display img {
    margin-bottom:.5em;
}

.author-section .panel-author-row img,
.panel-community-contributed img {
    width:60px;
    height:60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.panel-community-contributed {
    padding-top:2em;
    padding-bottom:1em;
}

.panel-community-contributed h3 {
    font-family:"Montserrat",sans-serif;
    font-size:11px;
    font-style: normal;
    text-transform: uppercase;
    line-height:1.2em;
    padding-top:0;
    margin-top:.5em;
}


.lavender-grad,
.panel-collapse {
    /* These are minimal values to properly display the gradient without overlapping content */


    background: rgb(130,128,139); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyODA4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzllOWJhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzllOWJhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MjgwOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(130,128,139,1) 0%, rgba(158,155,170,1) 15%, rgba(158,155,170,1) 85%, rgba(130,128,139,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,128,139,1)), color-stop(15%,rgba(158,155,170,1)), color-stop(85%,rgba(158,155,170,1)), color-stop(100%,rgba(130,128,139,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%,rgba(130,128,139,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%,rgba(130,128,139,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%,rgba(130,128,139,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%,rgba(130,128,139,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82808b', endColorstr='#82808b',GradientType=0 ); /* IE6-8 */
}

/* Gradient goes from top to bottom instead of from both top & bottom */
.open-panel-grad {
    background: rgb(130,128,139); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyODA4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzllOWJhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzllOWJhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(130,128,139,1) 0%, rgba(158,155,170,1) 15%, rgba(158,155,170,1) 85%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(130,128,139,1)), color-stop(15%,rgba(158,155,170,1)), color-stop(85%,rgba(158,155,170,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(130,128,139,1) 0%,rgba(158,155,170,1) 15%,rgba(158,155,170,1) 85%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82808b', endColorstr='#9e9baa',GradientType=0 ); /* IE6-8 */

}



/*===============================================================================
 SCREEN SIZE/MEDIA CHANGE BREAKPOINTS
===============================================================================*/


/* Large LG */
@media (min-width: 1200px) {

}

/* Medium MD */
@media(min-width:992px) and (max-width:1200px) {
    .core-addons-divider {
        padding-top:36px;
    }
}


/* Max. Size SM (767px and under) */
@media(max-width:767px) {
    .addon-marquee .marquee-content h2 {
        font-size:24px;
        width:60%;
        text-align: center;
        margin:1em auto;
        line-height:1.4em;
    }


    .section-title {
        background:none;
        background-image:none;
        padding:1em;
        text-align:center;
        margin:0;
    }

    .section-line-divider {
        padding:.3em 0;
    }

    .section-title.community-contributed,
    .section-title.core-addons,
    .section-title.sponsored-addons {
        background:none;
    }

    .small-width-icons {
        text-align: center;
    }

    .small-width-icons img {
        width:80px;
        height:auto;
    }

}

/* Small SM */
@media(min-width:768px) and (max-width:992px) {
    /*.checkbox-row {
        font-size:11px;
    }*/

    .core-addons-divider {
        padding-top:18px;
    }

}
/* This is typically the smallest size (XS) but not currently in use for Forge */
@media(min-width:480px) and (max-width:768px) {
}

@media(max-width:480px) {
    /* Widen the overall content container for the marquee */
    .marquee-content-container-div {
        margin-left:10%;
        width:80%;
    }


    .checkbox-row {
        font-size:11px;
    }


    .addon-boxes div.addon .img-div {
        width:50px;
        height:50px;
        padding:10px;
    }

    .advanced-search-checkbox-area .col-xs-offset-2 {
        margin-left:8%;
    }

    .star-row span.glyphicon.glyphicon-star {
        font-size:14px;
    }

}


/**
* ADDON SUB-PAGE – USED AT PHONE DISPLAY WIDTHS ONLY (MAX. 767PX)
*/

@media(max-width:767px) {


    /* This CSS tag can be used with the assumption that each img icon will be roughly evenly square and comport to a circle shape */
    .get-addon-icon img {
        background:white;
        border-radius:          50%;
        -moz-border-radius:     50%;
        -webkit-border-radius:  50%;
        margin-left:auto;
        margin-right:auto;
        padding:15px;
        width:90px;
        height:90px;
    }

    .phone-get-addon-btn-div {
        width:40%;
        margin:2.5em auto 1em auto;
    }

    .flex-addon-display  div.addon {
        width:100%;
    }

}

@media(max-width:480px) {
    .phone-get-addon-btn-div {
        width:60%;
    }

}