<!-- PAGE SECTION ADDON HEADING-->
<div class="page-section static white doc-content">
    <div class="container">
        <div class="row phone-addon-title-section">
            <div class="col-xs-12">
                <h1>JBoss AS 7</h1>
            </div>
        </div>
    </div>

</div><!-- / .page-section -->

<!-- PAGE SECTION FOR ADDON ICON AND DOWNLOAD LINK -->
<div class="page-section static phone-addon-icon-link-section lavender-grad">
    <div class="container">
        <div class="row">
            <div clas="col-xs-12">
                <div class="get-addon-icon">
                    <img src="images/jboss_as_120x120.png" alt="JBoss AS 7" />
                </div>
                <div class="phone-get-addon-btn-div">
                    <a href="#" class=" btn btn-red btn-lrg">Get Addon</a>
                </div>
            </div><!-- / .col-xs-12 -->
        </div><!-- / .row -->
    </div><!-- / .container -->
</div><!-- / .page-section -->


<div class="panel-group addon-panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOverview">
            <h1 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOverview" aria-expanded="true" aria-controls="collapseOverview">
                    Overview
                </a>
            </h1>
        </div>
        <div id="collapseOverview" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOverview">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                <br><br><span class="disclaimer">
                • Requires JBoss Forge 3.0 or Higher
                </span>
            </div>

            <div class="panel-body author-section">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Authors</h2>
                    </div>
                </div><!-- / close Author title row -->
                <div class="row panel-author-row">
                    <div class="col-xs-4 panel-author-display">
                        <img src="images/place-img-300x300.jpg" alt="Author One">
                        <p class="author-name">Lincoln Baxter</p>
                        <p class="plugin-count">20 Plugins</p>
                    </div><!-- /.author -->

                    <div class="col-xs-4 panel-author-display">
                        <img src="images/place-img-alt-300x300.jpg" alt="Author One">
                        <p class="author-name">Lincoln Baxter</p>
                        <p class="plugin-count">3 Plugins</p>
                    </div><!-- /.author -->

                    <div class="col-xs-4 panel-author-display">
                        <img src="images/place-img-300x300.jpg" alt="Author One">
                        <p class="author-name">Lincoln Baxter</p>
                        <p class="plugin-count">6 Plugins</p>
                    </div><!-- /.author -->

                </div><!-- / close author image & name row -->
                <div class="row panel-community-contributed">
                    <div class="col-xs-12">
                        <img src="images/community-contrib-heart_100x100.png" alt="Community Contributed">
                        <h3>Community<br>Contributed</h3>
                    </div>

                </div><!-- / .community-contributed row -->

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h1 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Stats
                </a>
            </h1>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h1 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Reviews
                </a>
            </h1>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>