<!-- PAGE SECTION COMMUNITY MARQUEE SECTION -->
<div class="page-section static blue community-marquee">
   <div class="container">
        <div class="row marquee-content">
            <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 marquee-content-container-div">
                <h2>JBoss is an Open Source, <strong>Community Project</strong>.</h2>
                <h2>We Love it when our Users become Contributors!</h2>

            </div>

        </div><!-- / .row.marquee-content -->
       <div class="row visible-xs">
           <span class="white-chevron-down">&nbsp;</span>
       </div>
   </div><!-- /.container -->
</div><!-- / .page-section -->




<!-- PAGE SECTION CONTRIBUTE -->
<div class="page-section white contribute-section">
    <div class="container">
        <div class="row">
            <h1>So Many Ways to <strong>Contribute</strong>.</h1>
        </div><!-- / .row -->




    </div><!-- /.container -->

    <div class="row contribute-columns">
        <!-- Left Column -->
        <div class="col-sm-3 col-xs-12 outer-container left-col-container">
            <div class="display-div left-col">
                <h2>Discuss</h2>
                <a href="https://community.jboss.org/en/forge" target="_self" class="forge-btn btn btn-blue btn-med">Forums</a>
                <a href="https://lists.jboss.org/mailman/listinfo/forge-users" target="_new" class="forge-btn btn btn-blue btn-med">Email</a>
                <a href="http://webchat.freenode.net/?channels=forge" target="_new" class="forge-btn btn btn-blue btn-med">IRC</a>

            </div>

        </div>
        <!-- / End Left Column -->

        <div class="col-sm-6 col-xs-12">
            <div class="row middle-section">
                <div class="col-sm-6 interior-left-column">
                    <div class="display-div build-an-addon ">
                        <h2>Build An<br>Addon</h2>
                        <a href="/document/develop-an-addon" target="_self" class="forge-btn btn btn-red btn-med">Get Started</a>

                    </div><!-- /.build-an-addon -->

                </div>

                <div class="col-sm-6 three-row-col-div">
                   <div class="display-div">
                        <a href="https://issues.jboss.org/browse/FORGE" target="_self">
                            <span class="text">Submit Bugs</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>
                   </div>

                    <div class="display-div">
                        <a href="https://github.com/forge" target="_self">
                            <span class="text">Improve Code</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>

                    </div>

                    <div class="display-div">
                        <a href="https://github.com/forge/docs/" target="_self">
                            <span class="text">Expand Docs</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>
                    </div>

                </div>

            </div>
        </div><!-- / .col-sm-6 -->

        <!-- Right Column -->
        <div class="col-sm-3 col-xs-12 outer-container right-col-container attend-event">
            <div class="display-div right-col attend-event">
                <h2>Attend<br>An Event</h2>
                <a href="/events" target="_self" class="forge-btn btn btn-red btn-med">The Calendar</a>
            </div>

        </div>
        <!-- / End Right Column -->

    </div><!-- / .row -->
</div><!-- / .page-section -->
<!-- / END CONTRIBUTE SECTION -->



<!-- PAGE SECTIION COMMUNITY PEOPLE -->
<div class="page-section white community-people">
    <div class="container">
        <div class="row community-logo-row">
            <div class="col-xs-12 community-logo">
                <img alt="JBoss Community"  src="images/anvil_download_section_300x264.png" />
            </div>
            <div class="col-xs-12 orange-line-row">&nbsp;</div>
            <div class="col-xs-12">
                <h1>Powered by people like you. Our <strong>Community</strong>.</h1>
            </div>

            <div class="col-xs-12 orange-line-row hidden-xs">&nbsp;</div>

            <!-- Community image section -->
            <div class="community-images-holder">
                <a href="{{contrib.html_url}}" target="_blank" ng-repeat="contrib in contributors">
                    <img title="{{contrib.login}}" ng-src="{{contrib.avatar_url}}">
                </a>
            </div>
            <!-- Community Grid -->
            <div class="community-grid reg-display hidden-xs container">
                <!--<div class="row">
                    <div class="col-sm-2 col-sm-offset-1"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                    <div class="col-sm-2"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                    <div class="col-sm-2"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                    <div class="col-sm-2"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                    <div class="col-sm-2"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                </div>-->
            </div>


            <div class="community-grid phone-display container visible-xs">
                <!--<div class="row">
                    <div class="col-xs-6"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>
                    <div class="col-xs-6"><img alt="Placeholder" src="images/place-img-300x300.jpg"></div>

                </div>-->

            </div>


            </div>
            <!-- / Close Community Grid -->
        </div><!-- / .row -->
    </div><!-- / .container -->
</div><!-- / .page-section -->
    <!-- / END COMMUNITY PEOPLE SECTION -->


<!-- PAGE SECTION GOVERNANCE & JOIN NOW BUTTON SECTION -->
<div class="page-section white join-now-section">
    <div class="row join-now-button-row">
        <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
            <a href="/document/contribute-code" target="_self" class="forge-btn btn btn-lg btn-red">Join Now</a>
        </div>
    </div><!-- / .row.join-now-button-row -->
    <div class="container">
            <!-- Intro -->
        <div class="row">
            <div class="col-12">
                <h1>Our Community Governance Statement</h1>
            </div>
        </div>

        <!-- Governance items -->
        <div class="row text-left">
            <div class="col-sm-12">
                <h3>Stewardship</h3>
                <p>This project is developed and released by Red Hat with assistance from the Java developer community. The
                    project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set
                    the roadmap. Red Hat employees assigned to work on Forge as well as community contributors, in this regard, all
                    answer to the project lead.</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-12">
                <h3>Requirement Definition</h3>
                <p>The requirements and roadmap for JBoss Forge are driven by Red Hat and by the community. Typically, when a
                    major release is being planned, the project lead will take input from both Red Hat and the community, and evaluate
                    what can be done in the necessary time. This will define what features will be addressed in a given release. The
                    project lead will then publish the roadmap on the developers mailing list, and update the version information in
                    JIRA. All requirements are fed into the same community process that our community users follow. We create JIRAs for
                    all feature requests on our schedule. The best way for you to suggest requirements for a future release of Forge is
                    to enter a feature request in JIRA. Lobbying for features using the voting feature in JIRA, and posting to the
                    community forums, is a great way to express interest as well. Although, contributing is the single most expedient
                    way to get a capability into a particular release.</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-12">
                <h3>Release Cycle</h3>
                <p>Forge releases frequently on a monthly-basis and provide a nightly build for those that wish to be on the
                    bleeding edge.</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-12">
                <h3>Contribution</h3>
                <p>
                    Forge welcomes, thrives on and greatly values community contribution. Please see our
                    <h:link outcome="/community">Community</h:link>
                    page for more information on how to contribute to Forge.
                </p>
            </div>
        </div>
    </div><!-- / .container -->
</div><!-- / .page-section -->
<!-- GOVERNANCE & JOIN NOW BUTTON SECTION -->

