<!-- PAGE SECTION DOCUMENT MARQUEE SECTION -->
<div class="page-section static blue addon-marquee documentation"><div class="dark-blue-overlay">&nbsp;</div>
   <div class="container">
        <div class="row marquee-content">
            <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 marquee-content-container-div">
                <h2>JBoss Forge is <strong>Fast</strong> and <strong>Extensible</strong>.</h2>
                <h2 class="hidden-xs"><strong>Learn More</strong> about what you can do with Forge.</h2>
               <div class="row search-bar-row large documentation">
                   <div class="col-xs-12">
                        <input type="text" name="addon_search" class="addon_search" ><input type="submit" value="Search" class="btn-red addon_search_submit">
                    </div>
               </div>
               <div class="row">
                    <!-- Advanced Search Panel Collapse Button -->
                        <!-- Large Screen button -->
                        <div class="col-xs-12 advanced-search hidden-xs">
                            <a href="#searchOptionsPanel" data-toggle="collapse" class="advanced-search-button-link"
                               aria-controls="searchOptionsPanel" aria-expanded="false">
                                <span class="text-block ">
                                     Advanced Search
                                </span>

                                <span class="white-chevron filled hidden-xs">&nbsp;</span>
                            </a>
                        </div>
                        <!-- / Large Screen Button -->
                        <!-- Small screen button -->
                        <div class="col-xs-12 advanced-search visible-xs">
                            <a href="#searchOptionsPanel" data-toggle="collapse" class="advanced-search-button-link"
                               aria-controls="searchOptionsPanel" aria-expanded="false">

                                <span class="text-block ">
                                     Advanced<br>Search
                                </span><br>
                                <span class="white-chevron-outline">&nbsp;</span>
                            </a>
                        </div>
                        <!-- / Small screen button -->
                    <!-- End Advanced Search Panel Collapse Button -->
               </div><!-- End Row -->
            </div>
        </div><!-- / .row.marquee-content -->
   </div><!-- /.container -->
</div><!-- / .page-section -->


<!-- PAGE SECTION ADVANCED SEARCH -->
<div class="page-section white advanced-search-section collapse"
     id="searchOptionsPanel" aria-expanded="false">
    <div class="container main">
        <div class="row">
            <!-- / Left Side with search button -->
            <div class="col-sm-3 col-xs-12">
                <div class="row advanced-search-button-area">
                    Advanced Search
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-4 col-xs-offset-4">
                        <a href="#" class="forge-btn btn btn-red btn-med reset-button">Reset Options</a>
                    </div>
                 </div>
            </div><!-- / End Left Side -->

            <!-- Right side with checkbox items -->
            <div class="col-sm-9 col-xs-12">
                <div class="row advanced-search-checkbox-area">

                    <!-- Begin Checkboxes -->

                    <!-- Main Column 1 -->
                    <div class="col-sm-6 col-sm-offset-0 col-xs-5 col-xs-offset-1 checkbox-columns">

                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="blog"> <label class="checkbox-label" for="blog"><span></span>Blog</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="video"> <label class="checkbox-label" for="video"><span></span>Video</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="article"> <label class="checkbox-label" for="article"><span></span>Article</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->


                                <div class="col-sm-6 col-xs-12">
                                    <div class="checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="beginner"> <label class="checkbox-label" for="beginner"><span></span>Beginner</label>
                                    </div>
                                    <div class="checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="intermediate"> <label class="checkbox-label" for="intermediate"><span></span>Intermediate</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="advanced"> <label class="checkbox-label" for="advanced"><span></span>Advanced</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->


                            </div><!-- /.row -->
                    </div><!-- / End Main Column 1 -->

                    <!-- Main Column 2 -->
                    <div class="col-sm-6 col-xs-6 checkbox-columns">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="popular"> <label class="checkbox-label" for="popular"><span></span>Popular</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="community"> <label class="checkbox-label" for="community"><span></span>Community</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="core"> <label class="checkbox-label" for="core"><span></span>Core</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->

                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_4"> <label class="checkbox-label" for="option_4"><span></span>Option 4</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_5"> <label class="checkbox-label" for="option_5"><span></span>Option 5</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_6"> <label class="checkbox-label" for="option_6"><span></span>Option 6</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->

                            </div><!-- /.row -->
                    </div><!-- / End Main Column 2 -->
                    <!-- / End Checkboxes -->



                </div><!-- /.row (.advanced-search-checkbox-area) -->
            </div>
            <!-- / End Right side -->


        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- / .page-section -->



<!-- PAGE SECTION ADVANCED SEARCH -->
<div class="page-section white advanced-search-section"
     id="searchOptionsPanelTwo" aria-expanded="false">
    <div class="container main">
        <div class="row">
            <!-- / Left Side with search button -->
            <div class="col-sm-3 col-xs-12">
                <div class="row advanced-search-button-area">
                    Advanced Search
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-4 col-xs-offset-4">
                        <a href="#" class="forge-btn btn btn-red btn-med reset-button">Reset Options</a>
                    </div>
                </div>
            </div><!-- / End Left Side -->

            <!-- Right side with checkbox items -->
            <div class="col-sm-9 col-xs-12">
                <div class="row advanced-search-checkbox-area">

                    <!-- Begin Checkboxes -->

                    <!-- Main Column 1 -->
                    <div class="col-xs-12 checkbox-columns ">

                        <div class="row flex-display">
                                <div class="checkbox-flex-item" >
                                    <input type="checkbox" class="search-checkbox" id="blogTwo" > <label class="checkbox-label" for="blogTwo"><span></span>Blog</label>
                                </div>
                                <div class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="videoTwo"> <label class="checkbox-label" for="videoTwo"><span></span>Video</label>
                                </div>
                                <div  class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="articleTwo" > <label class="checkbox-label" for="articleTwo"><span></span>Article</label>
                                </div>

                                <div class="checkbox-flex-item" >
                                    <input type="checkbox" class="search-checkbox" id="blogThree" > <label class="checkbox-label" for="blogThree"><span></span>Blog</label>
                                </div>
                                <div class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="videoThree"> <label class="checkbox-label" for="videoThree"><span></span>Video</label>
                                </div>
                                <div  class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="articleThree" > <label class="checkbox-label" for="articleThree"><span></span>Article</label>
                                </div>

                                <div class="checkbox-flex-item" >
                                    <input type="checkbox" class="search-checkbox" id="blogFour" > <label class="checkbox-label" for="blogFour"><span></span>Blog</label>
                                </div>
                                <div class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="videoFour"> <label class="checkbox-label" for="videoFour"><span></span>Video</label>
                                </div>
                                <div  class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="articleFour" > <label class="checkbox-label" for="articleFour"><span></span>Article</label>
                                </div>


                                <div class="checkbox-flex-item" >
                                    <input type="checkbox" class="search-checkbox" id="blogFive" > <label class="checkbox-label" for="blogFive"><span></span>Blog</label>
                                </div>
                                <div class="checkbox-flex-item">
                                    <input type="checkbox" class="search-checkbox" id="videoFive"> <label class="checkbox-label" for="videoFive"><span></span>Video</label>
                                </div>
                                



                        </div><!-- /.row -->
                    </div><!-- / End Main Column 1 -->



                </div><!-- /.row (.advanced-search-checkbox-area) -->
            </div>
            <!-- / End Right side -->


        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- / .page-section -->


<!-- PAGE SECTION DOCUMENTATION SECTION -->
<div class="page-section documentation-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">


                    <div class="row documentation-boxes">

						<!-- Item -->
                        <div class="col-sm-4 col-xs-12">
                            <div class="doc-div">
                                <div class="info-row">
                                    <div class="medal beginner"> </div>
                                    <h2>Installation Guide</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
                                    </p>
                                </div>
                                <div class="row info-links">

                                    <!-- Group Type -->
                                    <div class="col-xs-4 contrib">
                                       <div class="contrib-icons core-icon">&nbsp;</div>Core
                                    </div>
                                    <!-- / End Group Type -->

                                    <!-- Usage Icon -->
                                    <div class="col-xs-4 mid-col">
										<span class="usage-icons notebook">&nbsp;</span>
                                    </div>
                                    <!-- /End Usage Icon -->

                                    <!-- Author Image -->
                                    <div class="col-xs-4 author-img">
									<img src="images/place-img-300x300.jpg" alt="Author Image"/>

                                    </div>
                                    <!-- / End Author Image -->
                                </div><!-- / .info-links -->
                            </div><!-- / .documentation -->
                        </div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->


						<!-- Item -->
						<div class="col-sm-4 col-xs-12">
							<div class="doc-div">
								<div class="info-row">
									<div class="medal beginner"> </div>
									<h2>Installation Guide</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
									</p>
								</div>
								<div class="row info-links">

									<!-- Group Type -->
									<div class="col-xs-4 contrib">
										<div class="contrib-icons core-icon">&nbsp;</div>Core
									</div>
									<!-- / End Group Type -->

									<!-- Usage Icon -->
									<div class="col-xs-4 mid-col">
										<span class="usage-icons notebook">&nbsp;</span>
									</div>
									<!-- /End Usage Icon -->

									<!-- Author Image -->
									<div class="col-xs-4 author-img">
										<img src="images/place-img-300x300.jpg" alt="Author Image"/>

									</div>
									<!-- / End Author Image -->
								</div><!-- / .info-links -->
							</div><!-- / .documentation -->
						</div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->


						<!-- Item -->
						<div class="col-sm-4 col-xs-12">
							<div class="doc-div">
								<div class="info-row">
									<div class="medal beginner"> </div>
									<h2>Installation Guide</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
									</p>
								</div>
								<div class="row info-links">

									<!-- Group Type -->
									<div class="col-xs-4 contrib">
										<div class="contrib-icons core-icon">&nbsp;</div>Core
									</div>
									<!-- / End Group Type -->

									<!-- Usage Icon -->
									<div class="col-xs-4 mid-col">
										<span class="usage-icons notebook">&nbsp;</span>
									</div>
									<!-- /End Usage Icon -->

									<!-- Author Image -->
									<div class="col-xs-4 author-img">
										<img src="images/place-img-300x300.jpg" alt="Author Image"/>

									</div>
									<!-- / End Author Image -->
								</div><!-- / .info-links -->
							</div><!-- / .documentation -->
						</div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->


						<!-- Item -->
						<div class="col-sm-4 col-xs-12">
							<div class="doc-div">
								<div class="info-row">
									<div class="medal intermediate"> </div>
									<h2>Installation Guide</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
									</p>
								</div>
								<div class="row info-links">

									<!-- Group Type -->
									<div class="col-xs-4 contrib">
										<div class="contrib-icons community-icon">&nbsp;</div>Core
									</div>
									<!-- / End Group Type -->

									<!-- Usage Icon -->
									<div class="col-xs-4 mid-col">
										<span class="usage-icons notepaper">&nbsp;</span>
									</div>
									<!-- /End Usage Icon -->

									<!-- Author Image -->
									<div class="col-xs-4 author-img">
										<img src="images/place-img-300x300.jpg" alt="Author Image"/>

									</div>
									<!-- / End Author Image -->
								</div><!-- / .info-links -->
							</div><!-- / .documentation -->
						</div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->



						<!-- Item -->
						<div class="col-sm-4 col-xs-12">
							<div class="doc-div">
								<div class="info-row">
									<div class="medal advanced"> </div>
									<h2>Installation Guide</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
									</p>
								</div>
								<div class="row info-links">

									<!-- Group Type -->
									<div class="col-xs-4 contrib">
										<div class="contrib-icons core-icon">&nbsp;</div>Core
									</div>
									<!-- / End Group Type -->

									<!-- Usage Icon -->
									<div class="col-xs-4 mid-col">
										<span class="usage-icons talk-bubble">&nbsp;</span>
									</div>
									<!-- /End Usage Icon -->

									<!-- Author Image -->
									<div class="col-xs-4 author-img">
										<img src="images/place-img-300x300.jpg" alt="Author Image"/>

									</div>
									<!-- / End Author Image -->
								</div><!-- / .info-links -->
							</div><!-- / .documentation -->
						</div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->


						<!-- Item -->
						<div class="col-sm-4 col-xs-12">
							<div class="doc-div">
								<div class="info-row">
									<div class="medal advanced"> </div>
									<h2>Installation Guide</h2>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed elementumtDonec eget elementum justo. Aliquam in turpis magna. Vivamus scelerisque
									</p>
								</div>
								<div class="row info-links">

									<!-- Group Type -->
									<div class="col-xs-4 contrib">
										<div class="contrib-icons community-icon">&nbsp;</div>Core
									</div>
									<!-- / End Group Type -->

									<!-- Usage Icon -->
									<div class="col-xs-4 mid-col">
										<span class="usage-icons notebook">&nbsp;</span>
									</div>
									<!-- /End Usage Icon -->

									<!-- Author Image -->
									<div class="col-xs-4 author-img">
										<img src="images/place-img-300x300.jpg" alt="Author Image"/>

									</div>
									<!-- / End Author Image -->
								</div><!-- / .info-links -->
							</div><!-- / .documentation -->
						</div><!-- / col-sm-4 col-xs-12 -->
						<!-- / End  Item -->







					</div><!-- / .row.addon-boxes -->



            </div><!-- /.col-sm-8 col-sm-offset-1 col-xs-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- / .page-section -->