<!-- PAGE SECTION COMMUNITY MARQUEE SECTION -->
<div class="page-section static blue community-marquee">
   <div class="container">
        <div class="row marquee-content">
            <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 marquee-content-container-div">
                <h2>Get JBoss Forge <strong>{{metadata.latestVersion}}</strong> TODAY!</h2>
                <h3>Released {{metadata.latestReleaseMoment}}</h3>
            </div>

        </div><!-- / .row.marquee-content -->
       <div class="row visible-xs">
           <span class="white-chevron-down">&nbsp;</span>
       </div>
   </div><!-- /.container -->
</div><!-- / .page-section -->




<!-- PAGE SECTION CONTRIBUTE -->
<div class="page-section white contribute-section">
    <div class="container">
        <div class="row">
            <h1>Choose your preferred environment</h1>
        </div><!-- / .row -->




    </div><!-- /.container -->

    <div class="row contribute-columns">
        <!-- Left Column -->
        <div class="col-sm-3 col-xs-12 outer-container left-col-container">
            <div class="display-div left-col">
                <h2>Discuss</h2>
                <a href="#" class="forge-btn btn btn-blue btn-med">Forums</a>
                <a href="#" class="forge-btn btn btn-blue btn-med">Email</a>
                <a href="#" class="forge-btn btn btn-blue btn-med">IRC</a>

            </div>

        </div>
        <!-- / End Left Column -->

        <div class="col-sm-6 col-xs-12">
            <div class="row middle-section">
                <div class="col-sm-6 interior-left-column">
                    <div class="display-div build-an-addon ">
                        <h2>Build An<br>Addon</h2>
                        <a href="#" class="forge-btn btn btn-red btn-med">Get Started</a>

                    </div><!-- /.build-an-addon -->

                </div>

                <div class="col-sm-6 three-row-col-div">
                   <div class="display-div">
                        <a href="#">
                            <span class="text">Submit Bugs</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>
                   </div>

                    <div class="display-div">
                        <a href="#">
                            <span class="text">Improve Code</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>

                    </div>

                    <div class="display-div">
                        <a href="#">
                            <span class="text">Expand Docs</span>
                            <span class="right-arrow">&nbsp;</span>
                        </a>
                    </div>

                </div>

            </div>
        </div><!-- / .col-sm-6 -->

        <!-- Right Column -->
        <div class="col-sm-3 col-xs-12 outer-container right-col-container attend-event">
            <div class="display-div right-col attend-event">
                <h2>Attend<br>An Event</h2>
                <a href="#" class="forge-btn btn btn-red btn-med">The Calendar</a>
            </div>

        </div>
        <!-- / End Right Column -->

    </div><!-- / .row -->
</div><!-- / .page-section -->
<!-- / END CONTRIBUTE SECTION -->