<!-- PAGE SECTION DOWNLOAD MARQUEE SECTION -->
<div class="page-section static blue community-marquee">
   <div class="container">
        <div class="row marquee-content">
            <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 marquee-content-container-div">
                <h2>Get JBoss Forge <strong>{{metadata.latestVersion}}</strong> TODAY!</h2>
                <h3>Released {{metadata.latestReleaseMoment}}</h3>
            </div>

        </div><!-- / .row.marquee-content -->
       <div class="row visible-xs">
           <span class="white-chevron-down">&nbsp;</span>
       </div>
   </div><!-- /.container -->
</div><!-- / .page-section -->

<!-- PAGE SECTION ADDITIONAL DOWNLOADS FOR ENVIRONMENTS -->
<div class="page-section static white environment-os-section" ng-controller="downloadCtrl">
    <div class="row os-first-section">
        <div class="col-xs-12">
            <h1 class="environment-os-section-heading">Works in the environment you <strong>Use.</strong></h1>

        </div>
    </div><!-- / .row -->


    <div class="row">
        <div class="container-fluid download-os-divs">
            <div class="row">
                <div class="col-sm-4 col-xs-12" >
                        <div class="row grey-div left-div">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                                <h2>Developer<br />Studio</h2>
                                <a href="#" class="forge-btn btn btn-lrg btn-blue hidden-xs">Download</a>
                                <a href="#" class="forge-btn btn  btn-lrg btn-blue visible-xs">Learn More</a>
                                <p>Forge is included in JBoss Developer Studio</p>
                            </div>
                        </div><!-- / .row -->
                </div><!-- /. col-sm-4 -->

                <div class="col-sm-4 col-xs-12 center-contain-div">
                        <!-- Shown in Phone Version Only -->
                        <div class="visible-xs row grey-div center-div eclipse-intellij-row">
                            <div class="col-xs-6">
                                <h2>For Eclipse</h2>

                                <a href="#" class="forge-btn btn  btn-center btn-lrg btn-red">Learn More</a>
                            </div>
                            <div class="col-xs-6">
                                <h2>For Intellij</h2>
                                <a href="#" class="forge-btn btn  btn-center btn-lrg btn-red">Learn More</a>

                            </div>

                            <div class="col-xs-12 get-forge">
                                Get Forge for your IDE
                            </div>
                        </div><!-- / .row.grey-div.center-div -->
                        <!-- / End Phone Version -->

                        <!-- Tablet/Desktop -->
                        <div class="hidden-xs row grey-div center-div">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                                <h2>For Eclipse</h2>
                                <a href="#" class="forge-btn btn  btn-center btn-lrg btn-red">Download</a>
                                <h2>For Intellij</h2>
                                <a href="#" class="forge-btn btn  btn-center btn-lrg btn-red">Download</a>
                                <p class="link-p">Get Forge for your IDE</p>
                            </div>
                        </div>
                        <!-- / .row.grey-div.center-div -->
                        <!-- / End Tablet/Desktop -->

                </div><!-- /. col-sm-4 -->

                <div class="col-sm-4 col-xs-12">
                        <div class="row grey-div right-div ">
                            <div class="col-sm-9 col-sm-offset-1 col-xs-12 download-links-for-os">
                                <div class="hidden-sm hidden-md hidden-lg displayed-computer">
                                    <img src="images/computer_396x216.png" alt="Operating Systems" />
                                </div>
                                <p class="visible-xs link-p get-forge" >All Operating Systems</p>
                                <h2>OSX <a href="#" class="download-arrow hidden-xs"> </a></h2>
                                <h2>Linux <a href="#" class="download-arrow hidden-xs"> </a></h2>
                                <h2>Windows <a href="#" class="download-arrow hidden-xs"> </a></h2>
                                <p class="hidden-xs link-p get-forge" >Get Forge for your OS</p>
                            </div>
                        </div>
                </div><!-- /. col-sm-4 -->
            </div>
        </div><!-- / .contiainer-fluid -->
    </div>

    <div class="row hidden-xs">
        <div class="col-xs-12">
           <p class="link-p need-forge" >
               <br />
               NEED FORGE 1X? <a target="_self" href="/1.x">Get it here.</a>
           </p>
        </div>
    </div>
</div><!-- / .page-section static -->