<div id="events_page" class="page-section white">
	
	<div class="container">
        <h1>Join the Forge community for events, hack-nights, and discussions!</h1> 
        <h2>Check the calendar to see when the next event is being hosted.</h2>
        <div>
          <iframe id="google_calendar" src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=768&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tiu3ijh5nol9pv78vdvu3kkbuk%40group.calendar.google.com&amp;color=%232952A3" style="border: 0" width="1024" height="768" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>