<!-- PAGE SECTION DOWNLOADS -->
<div class="page-section intro-download-section">
    <!-- Parallax Element -->
    <!--
    <div id="parallaxContainer" class="container-fluid hidden-xs">
        <ul id="sparkScene" class="parallax-scene">
            <li class="layer" id="pLayer1" data-depth="1.00"><img alt="Sparks" src="images/sparks_med_res.jpg"></li>
        </ul>
    </div>
    -->
    <!-- / End Parallax Element -->

    <!-- Main content within parallax element -->
    <div class="container-fluid content-holder">

        <div class="row  forge-download-row" >
            <div class="section-divider">&nbsp;</div>

                <div class="col-xs-12 blue-back-div">
                    <div class="row">
                        <div class="forge-anvil-main-logo hidden-xs"> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 forge-headline">
                            JBoss Forge is the <strong>Fastest</strong> way to build
                            Maven-Based Java EE projects
                            <p>and anything else you fancy</p>

                        </div><!-- /.forge-headline-->
                    </div><!-- /.row -->
					<div class="space"> </div>

                 <!--   <a href="#" class="forge-btn btn  download-btn btn-lrg btn-red top-download-btn">Download</a>-->
                </div><!-- / .blue-back-div -->

			<!-- Download Button -->
			 <div class="section-divider">

			 </div>
			<a href="/download" target="_self" class="forge-btn btn  download-btn btn-lrg btn-red top-download-btn hidden-xs">Download</a>
            <a href="/document/installation" target="_self" class="forge-btn btn  download-btn btn-lrg btn-red top-download-btn visible-xs">Learn More</a>

		</div><!-- / .row.forge-download-row -->


		<div class="row marquee-text-row" >


			<div class="col-sm-10 col-sm-offset-1 hidden-xs">
                <h4>JBoss Forge is a tool that will make your work less like work. <a href="/document/installation" target="_self">Learn More</a></h4>
                <h4>Plenty of tutorials to kickstart your use of JBoss Forge. <a href="/documentation" target="_self">Get Started</a></h4>
                <h4>Want to add to JBoss Forge?  Join our community. <a href="/community" target="_self">Get Involved</a></h4>

            </div><!-- / .col-sm-8 col-offset-2 col-xs-12 -->

            <div class="col-xs-8 col-xs-offset-2 visible-xs">
                <h4>JBoss Forge is a tool that will make your work less like work.</h4>
                <span class="chevron-down-scroll"></span>

            </div><!-- / .col-sm-8 col-offset-2 col-xs-12 -->
        </div><!-- / .row marque-text-row -->

    </div><!-- / .container-fluid -->
    <!-- End main content within parallax element -->



</div><!-- / .page-section for Download and headline text -->


<!-- PAGE SECTION ADD-ONS -->
<div class="page-section addons-section static light-grey">
    <div class="container-fluid main-addons-section">
        <div class="row-fluid">
            <!-- Left side -->
            <div class="col-sm-6 col-xs-12">
                <div class="forge-anvil-addons-emblem ">

                </div>
                <div class="forge-image-graphic-div ">
                    <img alt="Forge" src="images/anvil_image500x493.png"  />
                </div>

            </div>

            <!-- Right side -->
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                           <strong>Add</strong> to your toolbox &amp; get the job done <strong>Quick</strong>.
                        </h1>
                        <h2>Get Addons</h2>
                        <p>
                            JBoss Forge offers plenty of addons to keep your process fast, easy and efficient.
                        </p>
                        <p>Let's enhance your workflow.<br /><br /></p>

                    </div>


                </div><!-- /.row -->
                <div class="row addons-link-btns">
                    <div class="col-xs-6">
                        <a href="/addons" target="_self" class="forge-btn btn btn-med btn-red">Browse Addons</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/document/develop-an-addon" target="_self" class="forge-btn btn btn-med btn-red">Build Addons</a>
                    </div>
                </div><!-- / .row -->
            </div>

        </div><!-- /.row -->
    </div><!-- /. container-fluid -->

</div><!-- / .page-section for addons -->



<!-- PAGE SECTION JOIN US -->
<div class="page-section static white join-us-section" ng-controller="frontPgNetwork">
    <div class="container-fluid">
        <div class="row">
            <!-- Phone width breakpoint display -->
           <div class="col-sm-6 visible-xs network-div-phone-width-container"></div>
            <!-- Left Side -->


            <div class="col-sm-6  col-xs-12">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <h1>
                            Join us in<br>making it <strong>Great.</strong>
                        </h1>
                        <h2>
                            Contribute
                        </h2>
                        <p>
                            JBoss Forge is growing. Community contributors keep expanding its capabilitiess.
                        </p>
                        <br />


                        <a href="/community" target="_self" class="forge-btn btn btn-med btn-red btn-half-width">Get Involved</a>


                    </div><!-- / .col-sm-10 col-sm-10 col-sm-offset-2 col-xs-12 -->
                </div><!-- /.row -->

            </div><!-- / .col-sm-4 Left Column -->

            <!-- End  Left Side -->

            <!-- Right Side -->
            <div class="network-img-holder">
                <a href="{{contrib.html_url}}" target="_blank" ng-repeat="contrib in contributors">
                    <img title="{{contrib.login}}" ng-src="{{contrib.avatar_url}}">
                </a>
            </div>

            <div class="col-sm-6 hidden-xs  network-graphic-grid-container">
                <div class="network-grid">
                    <!-- 1st Row -->
                    <div class="row network-row-1">
                        <div class="col-xs-2 col-xs-offset-6 pos-1 med" data-img-pos="0"></div>
                    </div>
                    <!-- End 1st Row -->

                    <!-- 2nd Row -->
                    <div class="row network-row-2">
                        <div class="col-xs-2 col-xs-offset-1 pos-2 sml" data-img-pos="1"></div>
                        <div class="col-xs-2 col-xs-offset-7 pos-3 sml" data-img-pos="2"></div>
                    </div>
                    <!-- End 2nd Row -->

                    <!-- 3rd Row -->
                    <div class="row network-row-3">
                        <div class="col-xs-3 pos-4 med" data-img-pos="3"></div>
                        <!-- Sub-row main div (contains two rows) -->
                        <div class="col-xs-9 sub-row-container-row">
                            <!-- Sub-row 1 -->
                            <div class="row sub-row sub-row-1">
                                <div class="col-xs-2 pos-5 sml" data-img-pos="4"></div>
                                <div class="col-xs-2 col-xs-offset-6 pos-6 sml" data-img-pos="5"></div>
                            </div>
                            <!-- End Sub-row 1 -->
                            <!-- Sub-row 2 -->
                            <div class="row sub-row sub-row-2">
                                <div class="col-xs-2 col-xs-offset-2 pos-7 sml" data-img-pos="6"></div>
                                <div class="col-xs-2 col-xs-offset-3 pos-8 sml" data-img-pos="7"></div>
                            </div>
                            <!-- End Sub-row 2 -->
                        </div>
                        <!-- End Sub-row main div -->
                    </div>
                    <!-- End 3rd Row -->

                    <!-- 4th Row -->
                    <div class="row network-row-4">
                        <div class="col-xs-2 col-xs-offset-3 pos-9 sml" data-img-pos="8"></div>
                        <div class="col-xs-3 col-xs-offset-4 pos-10 lrg" data-img-pos="9"></div>
                    </div>
                    <!-- End 4th row -->

                </div>
            </div>
            <!-- End Right Side -->



        </div><!-- / .row -->

    </div><!-- / .container-fluid -->

</div><!-- / .page-section -->





<!-- PAGE SECTION ADDITIONAL DOWNLOADS FOR ENVIRONMENTS -->
<div class="page-section static white environment-os-section" ng-controller="frontPgCols">
    <div class="row os-first-section">
        <div class="col-xs-12">
            <h1 class="environment-os-section-heading">Works in the environment you <strong>Use.</strong></h1>

        </div>
    </div><!-- / .row -->


    <div class="row">
        <div class="container-fluid download-os-divs">
            <div class="row">
                <div class="col-sm-4 col-xs-12" >
                        <div class="row grey-div left-div">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                                <h2>Developer<br />Studio</h2>
                                <a href="https://www.jboss.org/products/devstudio.html" target="_self" class="forge-btn btn btn-lrg btn-blue hidden-xs">Download</a>
                                <a href="https://www.jboss.org/products/devstudio.html" target="_self" class="forge-btn btn  btn-lrg btn-blue visible-xs">Learn More</a>
                                <p>Forge is included in JBoss Developer Studio</p>
                            </div>
                        </div><!-- / .row -->
                </div><!-- /. col-sm-4 -->

                <div class="col-sm-4 col-xs-12 center-contain-div">
                        <!-- Shown in Phone Version Only -->
                        <div class="visible-xs row grey-div center-div eclipse-intellij-row">
                            <div class="col-xs-4">
                                <h2>For Eclipse</h2>
                                <a href="http://www.jboss.org/tools/" class="forge-btn btn  btn-center btn-lrg btn-red">Learn More</a>
                            </div>
                            <div class="col-xs-4">
                                <h2>For Intellij IDEA</h2>
                                <a href="http://plugins.jetbrains.com/plugin/7515" class="forge-btn btn  btn-center btn-lrg btn-red">Learn More</a>
                            </div>
                            <div class="col-xs-4">
                                <h2>For NetBeans</h2>
                                <a href="http://plugins.netbeans.org/plugin/57296/" class="forge-btn btn  btn-center btn-lrg btn-red">Learn More</a>
                            </div>
                            <div class="col-xs-12 get-forge">
                                Get Forge for your IDE
                            </div>
                        </div><!-- / .row.grey-div.center-div -->
                        <!-- / End Phone Version -->

                        <!-- Tablet/Desktop -->
                        <div class="hidden-xs row grey-div center-div">
                            <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                                <h2>For Eclipse</h2>
                                <a href="http://www.jboss.org/tools/" target="_self" class="forge-btn btn  btn-center btn-lrg btn-red">Download</a>
                                <h2>For Intellij</h2>
                                <a href="http://plugins.jetbrains.com/plugin/7515" target="_self" class="forge-btn btn  btn-center btn-lrg btn-red">Download</a>
                                <h2>For NetBeans</h2>
                                <a href="http://plugins.netbeans.org/plugin/57296/" target="_self" class="forge-btn btn  btn-center btn-lrg btn-red">Download</a>
                                <p class="link-p">Get Forge for your IDE</p>
                            </div>
                        </div>
                        <!-- / .row.grey-div.center-div -->
                        <!-- / End Tablet/Desktop -->

                </div><!-- /. col-sm-4 -->

                <div class="col-sm-4 col-xs-12">
                        <div class="row grey-div right-div ">
                            <div class="col-sm-9 col-sm-offset-1 col-xs-12 download-links-for-os">
                                <div class="hidden-sm hidden-md hidden-lg displayed-computer">
                                    <img src="images/computer_396x216.png" alt="Operating Systems" />
                                </div>
                                <p class="visible-xs link-p get-forge" >All Operating Systems</p>
                                <h2>OSX <a href="/download" target="_self" class="download-arrow hidden-xs"> </a></h2>
                                <h2>Linux <a href="/download" target="_self" class="download-arrow hidden-xs"> </a></h2>
                                <h2>Windows <a href="/download" target="_self" class="download-arrow hidden-xs"> </a></h2>
                                <p class="hidden-xs link-p get-forge" >Get Forge for your OS</p>
                            </div>
                        </div>
                </div><!-- /. col-sm-4 -->
            </div>
        </div><!-- / .contiainer-fluid -->
    </div>

    <div class="row hidden-xs">
        <div class="col-xs-12">
           <p class="link-p need-forge" >
               <br />
               NEED FORGE 1X? <a target="_self" href="/1.x/">Get it here.</a>
           </p>
        </div>
    </div>
</div><!-- / .page-section static -->