<!-- PAGE SECTION DOCUMENT MARQUEE SECTION -->
<div class="page-section static blue news-marquee documentation"><div class="dark-blue-overlay">&nbsp;</div>
   <div class="container">
        <div class="row marquee-content">
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 marquee-content-container-div">
                <h2>JBoss Forge is <strong>Continually Advancing</strong>.<br>
					We want to keep you up to speed, with our news and with your work..</h2>
               <div class="row search-bar-row large documentation">
                    <div class="col-xs-12">
                        <input type="text" name="search" class="search" ng-model="searchBox"><input type="submit" value="Search" class="btn-red search_submit">
                    </div>
                </div>
                <div class="row">
                    <!-- Advanced Search Panel Collapse Button -->
                    <!-- Large Screen button -->
                    <div class="col-xs-12 advanced-search hidden-xs">
                        <a href="#searchOptionsPanel" data-toggle="collapse" class="advanced-search-button-link"
                           aria-controls="searchOptionsPanel" aria-expanded="false">
                                <span class="text-block ">
                                     Advanced Search
                                </span>

                            <span class="white-chevron filled hidden-xs">&nbsp;</span>
                        </a>
                    </div>
                    <!-- / Large Screen Button -->
                    <!-- Small screen button -->
                    <div class="col-xs-12 advanced-search visible-xs">
                        <a href="#searchOptionsPanel" data-toggle="collapse" class="advanced-search-button-link"
                           aria-controls="searchOptionsPanel" aria-expanded="false">

                                <span class="text-block ">
                                     Advanced<br>Search
                                </span><br>
                            <span class="white-chevron-outline">&nbsp;</span>
                        </a>
                    </div>
                    <!-- / Small screen button -->
                    <!-- End Advanced Search Panel Collapse Button -->               
                </div>
            </div>
        </div><!-- / .row.marquee-content -->
   </div><!-- /.container -->
</div><!-- / .page-section -->


<!-- PAGE SECTION ADVANCED SEARCH -->
<div class="page-section white advanced-search-section collapse"
     id="searchOptionsPanel" aria-expanded="false">
    <div class="container main">
        <div class="row">
            <!-- / Left Side with search button -->
            <div class="col-sm-3 col-xs-12">
                <div class="row advanced-search-button-area">
                    Advanced Search
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-4 col-xs-offset-4">
                        <a href="#" class="forge-btn btn btn-red btn-med reset-button">Reset Options</a>
                    </div>
                 </div>
            </div><!-- / End Left Side -->

            <!-- Right side with checkbox items -->
            <div class="col-sm-9 col-xs-12">
                <div class="row advanced-search-checkbox-area">

                    <!-- Begin Checkboxes -->

                    <!-- Main Column 1 -->
                    <div class="col-sm-6 col-sm-offset-0 col-xs-5 col-xs-offset-2 checkbox-columns">

                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="latest-versions"> <label class="checkbox-label" for="latest-versions"><span></span>Latest Versions</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="video"> <label class="checkbox-label" for="video"><span></span>Video</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="article"> <label class="checkbox-label" for="article"><span></span>Article</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->


                                <div class="col-sm-6 col-xs-12">
                                    <div class="checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="level1"> <label class="checkbox-label" for="level1"><span></span>Level 1</label>
                                    </div>
									<div class="checkbox-row">
										<input type="checkbox" class="search-checkbox" id="level2"> <label class="checkbox-label" for="level2"><span></span>Level 2</label>
									</div>
									<div class="checkbox-row">
										<input type="checkbox" class="search-checkbox" id="level3"> <label class="checkbox-label" for="level3"><span></span>Level 3</label>
									</div>


                                </div><!-- /.col-sm-6 col-xs-12 -->


                            </div><!-- /.row -->
                    </div><!-- / End Main Column 1 -->

                    <!-- Main Column 2 -->
                    <div class="col-sm-6 col-xs-5 checkbox-columns">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="popular"> <label class="checkbox-label" for="popular"><span></span>Popular</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="community"> <label class="checkbox-label" for="community"><span></span>Community</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="core"> <label class="checkbox-label" for="core"><span></span>Core</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->

                                <div class="col-sm-6 col-xs-12">
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_4"> <label class="checkbox-label" for="option_4"><span></span>Option 4</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_5"> <label class="checkbox-label" for="option_5"><span></span>Option 5</label>
                                    </div>
                                    <div class=" checkbox-row">
                                        <input type="checkbox" class="search-checkbox" id="option_6"> <label class="checkbox-label" for="option_6"><span></span>Option 6</label>
                                    </div>

                                </div><!-- /.col-sm-6 col-xs-12 -->

                            </div><!-- /.row -->
                    </div><!-- / End Main Column 2 -->
                    <!-- / End Checkboxes -->



                </div><!-- /.row (.advanced-search-checkbox-area) -->
            </div>
            <!-- / End Right side -->


        </div><!-- /.row -->
    </div><!-- /.container -->

</div><!-- / .page-section -->



<!-- PAGE SECTION NEWS SECTION -->
<div class="page-section news-item-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">

				<!-- Begin News Items -->
				<div class="row news-item-boxes">

					<!-- Item 2 -->
					<div class="col-xs-12 news-item" ng-repeat="newsItem in news|filter:searchBox" ng-class="{'photo-version': newsItem.photo}">
						<!-- BEGIN PHOTO HEADER -->
						<div class="col-xs-12 date-header" ng-if="newsItem.photo">

								<div class="col-xs-12 photo-row">
									<img ng-src="{{newsItem.photo}}" alt="News Image Temp." >
								</div>

							<div class="row">
								<div class=" col-xs-12 news-date"><h3>{{newsItem.date|date:'fullDate'}}</h3></div>
							</div>
						</div>

						<!-- END PHOTO HEADER -->
						<div class="col-xs-12 date-header" ng-if="!newsItem.photo">
								<div class="row">
									<div class=" col-xs-7 news-date"><h3>{{newsItem.date|date:'fullDate'}}</h3></div>

									<div class="col-xs-3 pull-right">
										<div class="news-item-forge-emblem"></div>
									</div>
								</div>
							</div>

						<!-- Begin News Item Main Content -->
						<div class="col-xs-12 news-main-content">
							<h1>{{newsItem.title}}</h1>
							<h2>Learn More About What's Changed</h2>
							<p>{{newsItem.summary}}</p>
						</div>
						<!-- / End Begin News Item Main Content -->



						<!-- BEGIN ITEM FOOTER -->
						<div class="col-xs-12 news-item-footer">

							<div class="row main-footer-row">
								<!-- AUTHORS BOX -->
								<div class="col-sm-4 col-xs-6 news-author-img-container-box">
									<div class="row">
										<div class="col-lg-4 col-sm-5 col-xs-4 news-author-img-box">
											<img src="images/place-img-300x300.jpg" alt="Lincoln Baxter">

										</div>

										<div class="col-lg-8 col-sm-7 col-xs-8  news-author-title-box">
											<h3>Author</h3>
											<p class="author-names-bottom">{{newsItem.author}}</p>
										</div>


									</div><!-- / .row -->
								</div>
								<!-- / END AUTHORS BOX -->

								<!-- SOCIAL ICONS BOX -->
								<div class="col-sm-5 news-social-icons-box hidden-xs">
									<!--<div class="row">-->
									<div class="col-sm-2 col-sm-offset-1  share-label news-share">
										Share
									</div>

									<div class="col-sm-9 news-social-icons">
										<a href="#" class="facebook-link"> </a>
										<a href="#" class="twitter-link"> </a>
										<a href="#" class="linkedin-link"> </a>
										<a href="#" class="googleplus-link"> </a>
										<a href="#" class="youtube-link"> </a>
									</div>
									<!--	</div>--><!-- / .row -->
								</div>
								<!-- / END SOCIAL ICONS BOX -->


								<!-- READ MORE BOX -->
								<div class="col-sm-2 col-xs-6 news-read-more-main">
									<div class="news-read-more">
										<a ui-sref="news_detail({newsId: newsItem.id})" class="pull-right read-more-link">Read More &rsaquo;</a>
									</div>
								</div>
								<!-- / END READ MORE BOX -->

							</div><!-- / .row -->


						</div><!-- / .news-item-footer -->
						<!-- / END ITEM FOOTER -->



					</div>
					<!-- / End Item 2 -->



				</div><!-- / End News Items -->




            </div><!-- / End main container column (col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1) -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- / .page-section -->