<!-- PAGE SECTION NEWS/NAV TOP BAR -->
<div class="page-section static white nav-news-bar hidden-xs">
   <div class="container">
        <div class="row hidden-xs page-navigation-line">
			News / {{selectedNews.title}}
        </div><!-- / .row -->
   </div><!-- /.container -->
</div><!-- / .page-section -->



<!-- PAGE SECTION CONTENT SECTION-->
<div class="page-section static white doc-content">
	<!--<div class="container">-->
		<!-- MAIN CONTENT ROW -->
		<div class="row">
			<!-- LEFT MAIN COLUMN -->
			<div class="col-sm-4 doc-left-main-col hidden-xs">
				<div class="row">
					<div class="col-xs-12 table-of-contents">
						<h2>Table of contents</h2>
					    <div ng-bind-html="newsToc | sanitize"></div>
					</div><!-- /.table-of-contents -->

				</div>
			</div>
			<!-- /END LEFT MAIN COLUMN -->



			<!-- RIGHT MAIN COLUMN -->
			<div class="col-sm-8 doc-right-main-col news-page-article-col">
			   <div ng-bind-html="newsContents | sanitize"></div>
               <!-- AUTHOR INFO SECTION -->
				<div class="article-author-div">
					<div class="row">
						<!-- AUTHOR IMAGE AND TITLE -->
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 author-info-div">
							<div class="row">
								<div class="col-lg-3 col-md-4 col-sm-5 col-xs-2 author-img">
									<img src="images/place-img-300x300.jpg" alt="{{selectedNews.author}}">
								</div><!-- / .author-info-div -->

								<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 author-name-title">
										<h1>Authors</h1>
										<p>{{selectedNews.author}}</p>
								</div><!-- / .author-name-title -->
							</div><!-- / .row -->
						</div>
						<!-- / END AUTHOR IMAGE AND TITLE -->

						<!-- SHARE/PERMALINK BOX -->
						<div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-7  col-xs-12 pull-right ">
							<div class="row">
								<div class="col-sm-2 col-xs-12 share-label news-share">
									Share
								</div>

								<div class="col-sm-8 col-xs-12 news-social-icons">
									<a href="https://www.facebook.com/sharer/sharer.php?u=http://forge.jboss.org/news/{{selectedNews.id}}" target="_blank" class="facebook-link"> </a>
									<a href="http://twitter.com/intent/tweet?text={{selectedNews.title}}+(http://forge.jboss.org/news/{{selectedNews.id}})" target="_blank" class="twitter-link"> </a>
									<a href="https://www.linkedin.com/shareArticle?mini=true&url=http://forge.jboss.org/news/{{selectedNews.id}}&title={{selectedNews.title}}" target="_blank" class="linkedin-link"> </a>
									<a href="https://plus.google.com/share?url=http://forge.jboss.org/news/{{selectedNews.id}}" target="_blank" class="googleplus-link"> </a>
								</div>
							</div><!-- /. row -->
						</div>
						<!-- SHARE/PERMALINK BOX -->
					</div>
				</div>
                <!-- / END AUTHOR INFO SECTION -->
			</div>
			<!-- /END RIGHT MAIN COLUMN -->
		</div><!-- / .row -->
		<!-- / END MAIN CONTENT ROW -->
	<!--</div>--><!-- /.container -->
</div><!-- / .page-section -->


<!-- PAGE SECTION TABLE OF CONTENTS AND SEARCH FOR SMALLER DEVICE SCREENS -->
<div class="page-section  white bottom-toc-section visible-xs">
	<div class="container">
		<div class="row">

			<div class="row search-bar-row small ">
				<div class="col-xs-12">
					<input type="text" placeholder="Search Blog" name="doc_search" class="doc_search" >
					<input type="submit" value="&nbsp;" class="btn-red doc_search_submit">
				</div>
			</div>



			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 table-of-contents">
					<h2>Table of contents</h2>
					<div ng-bind-html="newsToc | sanitize"></div>
				</div><!-- /.table-of-contents -->

			</div>

		</div><!-- / .row -->
	</div><!-- /.container -->

</div><!-- / .page-section -->